.env
.env.*
!.env.example
!.env.local.example

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# lockfiles bạn không muốn đẩy nếu dùng npm
bun.lockb
bun.lock
.pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
out/

# build output
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
